<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pishangujeniya.clipsync">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/clip_sync_logo_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clip_sync_logo_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <service
            android:name=".service.ClipBoardMonitor"
            android:exported="false"
            android:label="Clipboard Monitor" />
        <service
            android:name=".service.SignalRService"
            android:exported="false"
            android:label="ClipSync SignalR"

            />

        <activity android:name=".ControlsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
